<div class="w-72 sticky top-5 space-y-8 hidden md:block">
  <div class="rounded-lg border border-gray-100 px-4 py-5 bg-light-primary">
    <h3 class="font-medium text-lg">Provincia</h3>
    <ul class="mt-5 text-light-dark text-sm space-y-2">
      <li class="flex justify-between items-center border-b border-dashed pb-1 cursor-pointer transition-colors hover:text-primary">
        <a href="goo.com">Santiago</a>
        <span>0</span>
      </li>
      <li class="flex justify-between items-center border-b border-dashed pb-1 cursor-pointer transition-colors hover:text-primary">
        <a href="goo.com">Puerto Plata</a>
        <span>100</span>
      </li>
      <li class="flex justify-between items-center border-b border-dashed pb-1 cursor-pointer transition-colors hover:text-primary">
        <a href="goo.com">La vega</a>
        <span>250</span>
      </li>
    </ul>
    <button class="mt-5 text-sm text-primary hover:text-dark-primary transition-colors">Ver más...</button>
  </div>
  <div class="rounded-lg border border-gray-100 px-4 py-5 bg-light-primary">
    <h3 class="font-medium text-lg">Fecha</h3>
    <ul class="mt-5 text-light-dark text-sm space-y-2">
      <li class="border-b border-dashed pb-1 cursor-pointer transition-colors hover:text-primary">
        <a href="goo.com">Cualquier fecha</a>
      </li>
      <li class="border-b border-dashed pb-1 cursor-pointer transition-colors hover:text-primary">
        <a href="goo.com">Últimas 24 horas</a>
      </li>
      <li class="border-b border-dashed pb-1 cursor-pointer transition-colors hover:text-primary">
        <a href="goo.com">Últimos 7 días</a>
      </li>
      <li class="border-b border-dashed pb-1 cursor-pointer transition-colors hover:text-primary">
        <a href="goo.com">Últimos 15 días</a>
      </li>
    </ul>
  </div>
</div>