<% content_for(:title) do %>
  Empleate | Empresas
<% end %>

<%= render '/shared/header', hide_search_form: true %>

<section class="container px-8 sm:px-0 py-24 mx-auto">
  <div class="mb-10">
    <div class="mb-6 lg:mb-0">
      <h1 class="text-2xl font-bold mb-2 text-dark">Empresas que publican sus vacantes</h1>
      <div class="h-1 w-20 bg-primary rounded"></div>
    </div>
  </div>
  <div class="grid lg:grid-cols-3 gap-6">
    <%= render partial: '/shared/company_card', collection: @companies, as: 'company' %>
  </div>
</section>

<%= render partial: '/shared/footer' %>
